<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.boot.security.server.dao.GridDataDao">

	<insert id="save" parameterType="GridData">
		insert into LTE_GRID_USER_NUM
		(SDATE,REGIONTYPE,REGION,GRIDX,GRIDY,LONGITUDE,LATITUDE,IMEI_NUM,USER_RATIO,TOTALUSERS,RATIO_MR)
		values (#{sdate,jdbcType=VARCHAR},
		#{regiontype,jdbcType=VARCHAR},
		#{region,jdbcType=VARCHAR},
		#{gridx,jdbcType=DOUBLE},
		#{gridy,jdbcType=DOUBLE},
		#{longitude,jdbcType=DOUBLE},
		#{latitude,jdbcType=DOUBLE},
		#{imsi_num,jdbcType=DOUBLE},
		#{ratio,jdbcType=DOUBLE},
		#{totalusers,jdbcType=DOUBLE},
		#{ratio_mr,jdbcType=DOUBLE}
		)
	</insert>

	
	
	<select id="queryGridDataByRegion" resultType="java.util.Map">
		<if test="numPercent != null">
			select m.NEWIDX as "x",m.NEWIDY as "y",ceil(d.IMEI_NUM/#{numPercent}) as "userCount",d.stadium_no as "region"
		       from LTE_GRID_USER_NUM d 
		         inner join GRIDMAPPER m
		           on d.GRIDX=m.GRIDX and d.GRIDY=m.GRIDY
		             where  d.area_type in ('Indoor','Outdoor') and d.statistics_time=#{maxDate} and ceil(d.IMEI_NUM/#{numPercent}) &gt; 0
		               and d.stadium_no in
					        <foreach collection="regionArr" item="region" index="index"
					            open="(" close=")" separator=",">
					            #{region}
					        </foreach>
        </if>
		<if test="numPercent == null">
			select m.NEWIDX as "x",m.NEWIDY as "y",ceil(d.IMEI_NUM/d.USER_RATIO) as "userCount",d.stadium_no as "region"
		       from LTE_GRID_USER_NUM d 
		         inner join GRIDMAPPER m
		           on d.GRIDX=m.GRIDX and d.GRIDY=m.GRIDY
		             where  d.area_type in ('Indoor','Outdoor') and d.statistics_time=#{maxDate} and ceil(d.IMEI_NUM/d.USER_RATIO) &gt; 0
        			   and  d.stadium_no in
					        <foreach collection="regionArr" item="region" index="index"
					            open="(" close=")" separator=",">
					            #{region}
					        </foreach>
        </if> 
		
	</select>
	
	
	<select id="queryGridDataByTimeRegion" resultType="CommonModel">
		<if test="numPercent != null">
			select m.NEWIDX as "x",m.NEWIDY as "y",ceil(d.IMEI_NUM/#{numPercent}) as "userCount",d.stadium_no as "region"
		       from LTE_GRID_USER_NUM d 
		         inner join GRIDMAPPER m
		           on d.GRIDX=m.GRIDX and d.GRIDY=m.GRIDY
		             where d.stadium_no=#{region} and d.area_type in ('Indoor','Outdoor') and d.statistics_time=#{dateStr} and ceil(d.IMEI_NUM/#{numPercent}) >0
        </if>
		<if test="numPercent == null">
			select m.NEWIDX as "x",m.NEWIDY as "y",ceil(d.IMEI_NUM/d.USER_RATIO) as "userCount",d.stadium_no as "region"
		       from LTE_GRID_USER_NUM d 
		         inner join GRIDMAPPER m
		           on d.GRIDX=m.GRIDX and d.GRIDY=m.GRIDY
		             where d.stadium_no=#{region} and d.area_type in ('Indoor','Outdoor') and d.statistics_time=#{dateStr} and ceil(d.IMEI_NUM/d.USER_RATIO) >0
        </if> 
		
	</select>
	<select id="queryHiGridDataByTimeRegion" resultType="CommonModel">
		<if test="numPercent != null">
			select m.NEWIDX as "x",m.NEWIDY as "y",ceil(d.IMEI_NUM/#{numPercent}) as "userCount",d.stadium_no as "region"
		       from HI_LTE_GRID_USER_NUM d 
		         inner join GRIDMAPPER m
		           on d.GRIDX=m.GRIDX and d.GRIDY=m.GRIDY
		             where d.stadium_no=#{region} and d.area_type in ('Indoor','Outdoor') and d.statistics_time=#{dateStr} and ceil(d.IMEI_NUM/#{numPercent}) >0
        </if>
		<if test="numPercent == null">
			select m.NEWIDX as "x",m.NEWIDY as "y",ceil(d.IMEI_NUM/d.USER_RATIO) as "userCount",d.stadium_no as "region"
		       from HI_LTE_GRID_USER_NUM d 
		         inner join GRIDMAPPER m
		           on d.GRIDX=m.GRIDX and d.GRIDY=m.GRIDY
		             where d.stadium_no=#{region} and d.area_type in ('Indoor','Outdoor') and d.statistics_time=#{dateStr} and ceil(d.IMEI_NUM/d.USER_RATIO) >0
        </if> 
		
	</select>
	
	<select id="queryGridPeopleNum" resultType="java.lang.Double">
		 <if test="numPercent != null">
		  select nvl(sum(ceil(d.IMEI_NUM/#{numPercent})),0) 
		       from LTE_GRID_USER_NUM d 
		         inner join GRIDMAPPER m
		           on d.GRIDX=m.GRIDX and d.GRIDY=m.GRIDY
		             where d.stadium_no=#{region} and d.area_type in ('Indoor','Outdoor') and d.statistics_time=#{dateStr} 
        </if> 
		<if test="numPercent == null">
			select nvl(sum(ceil(d.IMEI_NUM/d.USER_RATIO)),0)  
		       from LTE_GRID_USER_NUM d 
		         inner join GRIDMAPPER m
		           on d.GRIDX=m.GRIDX and d.GRIDY=m.GRIDY
		             where d.stadium_no=#{region} and d.area_type in ('Indoor','Outdoor') and d.statistics_time=#{dateStr} 
        </if>
		
	</select>
	
	
	<select id="queryHiGridPeopleNum" resultType="java.lang.Double">
		 <if test="numPercent != null">
		  select nvl(sum(ceil(d.IMEI_NUM/#{numPercent})),0) 
		       from HI_LTE_GRID_USER_NUM d 
		         inner join GRIDMAPPER m
		           on d.GRIDX=m.GRIDX and d.GRIDY=m.GRIDY
		             where d.stadium_no=#{region} and d.area_type in ('Indoor','Outdoor') and d.statistics_time=#{dateStr} 
        </if> 
		<if test="numPercent == null">
			select nvl(sum(ceil(d.IMEI_NUM/d.USER_RATIO)),0)  
		       from HI_LTE_GRID_USER_NUM d 
		         inner join GRIDMAPPER m
		           on d.GRIDX=m.GRIDX and d.GRIDY=m.GRIDY
		             where d.stadium_no=#{region} and d.area_type in ('Indoor','Outdoor') and d.statistics_time=#{dateStr} 
        </if>
		
	</select>
	
	<select id="queryHiDates" resultType="java.lang.String">
		
		 select distinct(d.statistics_time) from HI_LTE_GRID_USER_NUM d
		  where d.stadium_no=#{region} and d.area_type in ('Indoor','Outdoor') 
		     and   d.statistics_time &gt;=#{beginDate} and d.statistics_time &lt;=#{endDate}
		
	</select>
	
	<select id="queryGridPeopleNumCluster" resultType="java.lang.Double">
		 <if test="numPercent != null">
		  select nvl(sum(ceil(d.IMEI_NUM/#{numPercent})),0) 
		       from LTE_GRID_USER_NUM_CLUSTER d 
		             where d.stadium_no=#{region} and d.area_type in ('Indoor','Outdoor') and d.statistics_time=#{dateStr} 
        </if> 
		<if test="numPercent == null">
			  select nvl(sum(ceil(d.IMEI_NUM/d.user_ratio)),0) 
		       from LTE_GRID_USER_NUM_CLUSTER d 
		             where d.stadium_no=#{region} and d.area_type in ('Indoor','Outdoor') and d.statistics_time=#{dateStr}  
        </if>
		
	</select>
	
	
	<select id="queryGridWarnData" resultType="java.util.Map">
        
        
		<if test="numPercent != null">       
		select  m.NEWIDX as "x",m.NEWIDY as "y",ceil(f.IMEI_NUM/#{numPercent}) as "userCount",f.stadium_no as "region" ,f.statistics_time as "times" 
		from (
			
			select * 
			from LTE_GRID_USER_NUM d  
			where 
			d.area_type in ('Indoor','Outdoor') 
			and d.statistics_time='20181013113500' 
			and (
			(
			d.statistics_time >'28881014113500'
			) 
			<if test="flag1 != null and flag1 !=-1">
			or
			(
			d.stadium_no='1' 
			and ceil(d.IMEI_NUM/#{numPercent}) &gt;= #{flag1}
			)
			</if>
			<if test="flag2 != null and flag2 !=-1">
			or
			(
			d.stadium_no='2' 
			and ceil(d.IMEI_NUM/#{numPercent}) &gt;= #{flag2}
			)
			</if>
			<if test="flag3 != null and flag3 !=-1">
			or
			(
			d.stadium_no='3' 
			and ceil(d.IMEI_NUM/#{numPercent}) &gt;= #{flag3}
			)
			</if>
			<if test="flag4 != null and flag4 !=-1">
			or
			(
			d.stadium_no='4.1' 
			and ceil(d.IMEI_NUM/#{numPercent}) &gt;= #{flag4}
			)
			</if>
			<if test="flag5 != null and flag5 !=-1">
			or
			(
			d.stadium_no='4.2' 
			and ceil(d.IMEI_NUM/#{numPercent}) &gt;= #{flag5}
			)
			</if>
			<if test="flag6 != null and flag6 !=-1">
			or
			(
			d.stadium_no='5.1' 
			and ceil(d.IMEI_NUM/#{numPercent}) &gt;= #{flag6}
			)
			</if>
			<if test="flag7= null and flag7=-1">
			or
			(
			d.stadium_no='5.2' 
			and ceil(d.IMEI_NUM/#{numPercent}) &gt;= #{flag7}
			)
			</if>
			<if test="flag8= null and flag8=-1">
			or
			(
			d.stadium_no='6.1' 
			and ceil(d.IMEI_NUM/#{numPercent}) &gt;= #{flag8}
			)
			</if>
			<if test="flag9= null and flag9=-1">
			or
			(
			d.stadium_no='6.2' 
			and ceil(d.IMEI_NUM/#{numPercent}) &gt;= #{flag9}
			)
			</if>
			<if test="flag10= null and flag10=-1">
			or
			(
			d.stadium_no='7.1' 
			and ceil(d.IMEI_NUM/#{numPercent}) &gt;= #{flag10}
			)
			</if>
			<if test="flag11= null and flag11=-1">
			or
			(
			d.stadium_no='7.2' 
			and ceil(d.IMEI_NUM/#{numPercent}) &gt;= #{flag11}
			)
			</if>
			<if test="flag12= null and flag12=-1">
			or
			(
			d.stadium_no='8.1' 
			and ceil(d.IMEI_NUM/#{numPercent}) &gt;= #{flag12}
			)
			</if>
			<if test="flag13= null and flag13=-1">
			or
			(
			d.stadium_no='8.2' 
			and ceil(d.IMEI_NUM/#{numPercent}) &gt;= #{flag13}
			)
			</if>
			<if test="flag14= null and flag14=-1">
			or
			(
			d.stadium_no='NH' 
			and ceil(d.IMEI_NUM/#{numPercent}) &gt;= #{flag14}
			)
			</if>
			<if test="flag15= null and flag15=-1">
			or
			(
			d.stadium_no='EH' 
			and ceil(d.IMEI_NUM/#{numPercent}) &gt;= #{flag15}
			)
			</if>
			<if test="flag16= null and flag16=-1">
			or
			(
			d.stadium_no='WH' 
			and ceil(d.IMEI_NUM/#{numPercent}) &gt;= #{flag16}
			)
			</if>
			<if test="flag17= null and flag17=-1">
			or
			(
			d.stadium_no='V1_1' 
			and ceil(d.IMEI_NUM/#{numPercent}) &gt;= #{flag17}
			)
			</if>
			<if test="flag18= null and flag18=-1">
			or
			(
			d.stadium_no='V1_2' 
			and ceil(d.IMEI_NUM/#{numPercent}) &gt;= #{flag18}
			)
			</if>
			<if test="flag19= null and flag19=-1">
			or
			(
			d.stadium_no='V1_3' 
			and ceil(d.IMEI_NUM/#{numPercent}) &gt;= #{flag19}
			)
			</if>
			<if test="flag20= null and flag20=-1">
			or
			(
			d.stadium_no='V1_4' 
			and ceil(d.IMEI_NUM/#{numPercent}) &gt;= #{flag20}
			)
			</if>
			<if test="flag21= null and flag21=-1">
			or
			(
			d.stadium_no='V2_1' 
			and ceil(d.IMEI_NUM/#{numPercent}) &gt;=  #{flag21}
			)
			</if>
			<if test="flag22= null and flag22=-1">
			or
			(
			d.stadium_no='V2_2' 
			and ceil(d.IMEI_NUM/#{numPercent}) &gt;=  #{flag22}
			)
			</if>
			<if test="flag23= null and flag23=-1">
			or
			(
			d.stadium_no='V2_3' 
			and ceil(d.IMEI_NUM/#{numPercent}) &gt;=  #{flag23}
			)
			</if>
			<if test="flag24= null and flag24=-1">
			or
			(
			d.stadium_no='V3_1' 
			and ceil(d.IMEI_NUM/#{numPercent}) &gt;=  #{flag24}
			)
			</if>
			<if test="flag25= null and flag25=-1">
			or
			(
			d.stadium_no='V3_2' 
			and ceil(d.IMEI_NUM/#{numPercent}) &gt;=  #{flag25}
			)
			</if>
			<if test="flag26= null and flag26=-1">
			or
			(
			d.stadium_no='V3_3' 
			and ceil(d.IMEI_NUM/#{numPercent}) &gt;=  #{flag26}
			)
			</if>
			<if test="flag27= null and flag27=-1">
			or
			(
			d.stadium_no='V3_4' 
			and ceil(d.IMEI_NUM/#{numPercent}) &gt;=  #{flag27}
			)
			</if>
			<if test="flag28= null and flag28=-1">
			or
			(
			d.stadium_no='V3_5' 
			and ceil(d.IMEI_NUM/#{numPercent}) &gt;=  #{flag28}
			)
			</if>
			<if test="flag29= null and flag29=-1">
			or
			(
			d.stadium_no='V3_6' 
			and ceil(d.IMEI_NUM/#{numPercent}) &gt;=  #{flag29}
			)
			</if>
			<if test="flag30= null and flag30=-1">
			or
			(
			d.stadium_no='V3_7' 
			and ceil(d.IMEI_NUM/#{numPercent}) &gt;=  #{flag30}
			)
			</if>
			<if test="flag31= null and flag31=-1">
			or
			(
			d.stadium_no='V4_1' 
			and ceil(d.IMEI_NUM/#{numPercent}) &gt;=  #{flag31}
			)
			</if>
			<if test="flag32= null and flag32=-1">
			or
			(
			d.stadium_no='V4_2' 
			and ceil(d.IMEI_NUM/#{numPercent}) &gt;=  #{flag32}
			)
			</if>
			<if test="flag33= null and flag33=-1">
			or
			(
			d.stadium_no='V4_3' 
			and ceil(d.IMEI_NUM/#{numPercent}) &gt;=  #{flag33}
			)
			</if>
			<if test="flag34= null and flag34=-1">
			or
			(
			d.stadium_no='V4_4' 
			and ceil(d.IMEI_NUM/#{numPercent}) &gt;=  #{flag34}
			)
			</if>
			<if test="flag35= null and flag35=-1">
			or
			(
			d.stadium_no='V4_5' 
			and ceil(d.IMEI_NUM/#{numPercent}) &gt;=  #{flag35}
			)
			</if>
			<if test="flag36= null and flag36=-1">
			or
			(
			d.stadium_no='V4_6' 
			and ceil(d.IMEI_NUM/#{numPercent}) &gt;=  #{flag36}
			)
			</if>
			<if test="flag37= null and flag37=-1">
			or
			(
			d.stadium_no='V5' 
			and ceil(d.IMEI_NUM/#{numPercent}) &gt;=  #{flag37}
			)
			</if>
			)
		) f inner join GRIDMAPPER m
		    on f.GRIDX=m.GRIDX and f.GRIDY=m.GRIDY 
		
		order  by f.stadium_no
		</if>
        
		<if test="numPercent == null">       
		select  m.NEWIDX as "x",m.NEWIDY as "y",ceil(f.IMEI_NUM/f.USER_RATIO) as "userCount",f.stadium_no as "region" ,f.statistics_time as "times" 
		from (
			
			select * 
			from LTE_GRID_USER_NUM d  
			where 
			d.area_type in ('Indoor','Outdoor') 
			and d.statistics_time='20181013113500' 
			and (
			(
			d.statistics_time >'28881014113500'
			) 
			<if test="flag1 != null and flag1 !=-1">
			or
			(
			d.stadium_no='1' 
			and ceil(d.IMEI_NUM/d.USER_RATIO) &gt;= #{flag1}
			)
			</if>
			<if test="flag2 != null and flag2 !=-1">
			or
			(
			d.stadium_no='2' 
			and ceil(d.IMEI_NUM/d.USER_RATIO) &gt;= #{flag2}
			)
			</if>
			<if test="flag3 != null and flag3 !=-1">
			or
			(
			d.stadium_no='3' 
			and ceil(d.IMEI_NUM/d.USER_RATIO) &gt;= #{flag3}
			)
			</if>
			<if test="flag4 != null and flag4 !=-1">
			or
			(
			d.stadium_no='4.1' 
			and ceil(d.IMEI_NUM/d.USER_RATIO) &gt;= #{flag4}
			)
			</if>
			<if test="flag5 != null and flag5 !=-1">
			or
			(
			d.stadium_no='4.2' 
			and ceil(d.IMEI_NUM/d.USER_RATIO) &gt;= #{flag5}
			)
			</if>
			<if test="flag6 != null and flag6 !=-1">
			or
			(
			d.stadium_no='5.1' 
			and ceil(d.IMEI_NUM/d.USER_RATIO) &gt;= #{flag6}
			)
			</if>
			<if test="flag7= null and flag7=-1">
			or
			(
			d.stadium_no='5.2' 
			and ceil(d.IMEI_NUM/d.USER_RATIO) &gt;= #{flag7}
			)
			</if>
			<if test="flag8= null and flag8=-1">
			or
			(
			d.stadium_no='6.1' 
			and ceil(d.IMEI_NUM/d.USER_RATIO) &gt;= #{flag8}
			)
			</if>
			<if test="flag9= null and flag9=-1">
			or
			(
			d.stadium_no='6.2' 
			and ceil(d.IMEI_NUM/d.USER_RATIO) &gt;= #{flag9}
			)
			</if>
			<if test="flag10= null and flag10=-1">
			or
			(
			d.stadium_no='7.1' 
			and ceil(d.IMEI_NUM/d.USER_RATIO) &gt;= #{flag10}
			)
			</if>
			<if test="flag11= null and flag11=-1">
			or
			(
			d.stadium_no='7.2' 
			and ceil(d.IMEI_NUM/d.USER_RATIO) &gt;= #{flag11}
			)
			</if>
			<if test="flag12= null and flag12=-1">
			or
			(
			d.stadium_no='8.1' 
			and ceil(d.IMEI_NUM/d.USER_RATIO) &gt;= #{flag12}
			)
			</if>
			<if test="flag13= null and flag13=-1">
			or
			(
			d.stadium_no='8.2' 
			and ceil(d.IMEI_NUM/d.USER_RATIO) &gt;= #{flag13}
			)
			</if>
			<if test="flag14= null and flag14=-1">
			or
			(
			d.stadium_no='NH' 
			and ceil(d.IMEI_NUM/d.USER_RATIO) &gt;= #{flag14}
			)
			</if>
			<if test="flag15= null and flag15=-1">
			or
			(
			d.stadium_no='EH' 
			and ceil(d.IMEI_NUM/d.USER_RATIO) &gt;= #{flag15}
			)
			</if>
			<if test="flag16= null and flag16=-1">
			or
			(
			d.stadium_no='WH' 
			and ceil(d.IMEI_NUM/d.USER_RATIO) &gt;= #{flag16}
			)
			</if>
			<if test="flag17= null and flag17=-1">
			or
			(
			d.stadium_no='V1_1' 
			and ceil(d.IMEI_NUM/d.USER_RATIO) &gt;= #{flag17}
			)
			</if>
			<if test="flag18= null and flag18=-1">
			or
			(
			d.stadium_no='V1_2' 
			and ceil(d.IMEI_NUM/d.USER_RATIO) &gt;= #{flag18}
			)
			</if>
			<if test="flag19= null and flag19=-1">
			or
			(
			d.stadium_no='V1_3' 
			and ceil(d.IMEI_NUM/d.USER_RATIO) &gt;= #{flag19}
			)
			</if>
			<if test="flag20= null and flag20=-1">
			or
			(
			d.stadium_no='V1_4' 
			and ceil(d.IMEI_NUM/d.USER_RATIO) &gt;= #{flag20}
			)
			</if>
			<if test="flag21= null and flag21=-1">
			or
			(
			d.stadium_no='V2_1' 
			and ceil(d.IMEI_NUM/d.USER_RATIO) &gt;=  #{flag21}
			)
			</if>
			<if test="flag22= null and flag22=-1">
			or
			(
			d.stadium_no='V2_2' 
			and ceil(d.IMEI_NUM/d.USER_RATIO) &gt;=  #{flag22}
			)
			</if>
			<if test="flag23= null and flag23=-1">
			or
			(
			d.stadium_no='V2_3' 
			and ceil(d.IMEI_NUM/d.USER_RATIO) &gt;=  #{flag23}
			)
			</if>
			<if test="flag24= null and flag24=-1">
			or
			(
			d.stadium_no='V3_1' 
			and ceil(d.IMEI_NUM/d.USER_RATIO) &gt;=  #{flag24}
			)
			</if>
			<if test="flag25= null and flag25=-1">
			or
			(
			d.stadium_no='V3_2' 
			and ceil(d.IMEI_NUM/d.USER_RATIO) &gt;=  #{flag25}
			)
			</if>
			<if test="flag26= null and flag26=-1">
			or
			(
			d.stadium_no='V3_3' 
			and ceil(d.IMEI_NUM/d.USER_RATIO) &gt;=  #{flag26}
			)
			</if>
			<if test="flag27= null and flag27=-1">
			or
			(
			d.stadium_no='V3_4' 
			and ceil(d.IMEI_NUM/d.USER_RATIO) &gt;=  #{flag27}
			)
			</if>
			<if test="flag28= null and flag28=-1">
			or
			(
			d.stadium_no='V3_5' 
			and ceil(d.IMEI_NUM/d.USER_RATIO) &gt;=  #{flag28}
			)
			</if>
			<if test="flag29= null and flag29=-1">
			or
			(
			d.stadium_no='V3_6' 
			and ceil(d.IMEI_NUM/d.USER_RATIO) &gt;=  #{flag29}
			)
			</if>
			<if test="flag30= null and flag30=-1">
			or
			(
			d.stadium_no='V3_7' 
			and ceil(d.IMEI_NUM/d.USER_RATIO) &gt;=  #{flag30}
			)
			</if>
			<if test="flag31= null and flag31=-1">
			or
			(
			d.stadium_no='V4_1' 
			and ceil(d.IMEI_NUM/d.USER_RATIO) &gt;=  #{flag31}
			)
			</if>
			<if test="flag32= null and flag32=-1">
			or
			(
			d.stadium_no='V4_2' 
			and ceil(d.IMEI_NUM/d.USER_RATIO) &gt;=  #{flag32}
			)
			</if>
			<if test="flag33= null and flag33=-1">
			or
			(
			d.stadium_no='V4_3' 
			and ceil(d.IMEI_NUM/d.USER_RATIO) &gt;=  #{flag33}
			)
			</if>
			<if test="flag34= null and flag34=-1">
			or
			(
			d.stadium_no='V4_4' 
			and ceil(d.IMEI_NUM/d.USER_RATIO) &gt;=  #{flag34}
			)
			</if>
			<if test="flag35= null and flag35=-1">
			or
			(
			d.stadium_no='V4_5' 
			and ceil(d.IMEI_NUM/d.USER_RATIO) &gt;=  #{flag35}
			)
			</if>
			<if test="flag36= null and flag36=-1">
			or
			(
			d.stadium_no='V4_6' 
			and ceil(d.IMEI_NUM/d.USER_RATIO) &gt;=  #{flag36}
			)
			</if>
			<if test="flag37= null and flag37=-1">
			or
			(
			d.stadium_no='V5' 
			and ceil(d.IMEI_NUM/d.USER_RATIO) &gt;=  #{flag37}
			)
			</if>
			)
		) f inner join GRIDMAPPER m
		    on f.GRIDX=m.GRIDX and f.GRIDY=m.GRIDY 
		
		order  by f.stadium_no
		</if>
	</select>
	
	 
	<select id="querySingleGridData" resultType="java.util.Map">
		select d.stadium_no as "region",nvl(sum(d.total_user_num),0) as "userCount" from LTE_GRID_USER_NUM d where d.area_type in ('Indoor','Outdoor') group by d.stadium_no  
	</select> 
	 
	<select id="updateDate" >
		update TEST_ZWC t set t.statistics_time=#{nowDate},t.imei_num=ceil(DBMS_RANDOM.value(6,43))
	</select> 
	
	 
	 
	 
	<select id="queryGridPeopleNumDataNew" resultType="CommonModel">
		select d.IMEI_NUM as "imsi" ,d.USER_RATIO as "radio"
		from LTE_GRID_USER_NUM d 
		where d.area_type in ('Indoor','Outdoor') 
		   and d.stadium_no=#{region} 
		   and d.statistics_time=#{maxDate} 
	</select> 
	
	<select id="queryMaxDate" resultType="string">
		select max(d.statistics_time) from LTE_GRID_USER_NUM d where  d.area_type in ('Indoor','Outdoor') 
	</select> 
	
	 <!-- 0918修改 -->
	<select id="queryBeforeDate" resultType="string">
		select to_char(to_date((select max(statistics_time) from LTE_GRID_USER_NUM),'yyyyMMddHH24miss')-numtodsinterval(4,'hour'),'yyyyMMddHH24miss')
		from dual
	</select> 
	<select id="queryMinDate" resultType="string">
		select min(d.statistics_time) from LTE_GRID_USER_NUM d where  d.area_type in ('Indoor','Outdoor')
	</select> 
	<insert id="insertNewData">
		insert into 
		LTE_GRID_USER_NUM(statistics_time,area_type,stadium_no,gridx,gridy,longitude,latitude,imei_num,user_ratio,total_user_num,floor_no) 
		select      statistics_time,area_type,stadium_no,gridx,gridy,longitude,latitude,imei_num,user_ratio,total_user_num,floor_no 
		from Test_zwc where statistics_time = #{beforeDate}
	</insert> 
	
	<select id="findDatesStr" resultType="java.lang.String">
		  select distinct d.statistics_time
	       from LTE_GRID_USER_NUM_CLUSTER d 
	             where d.stadium_no=#{region} 
	             and d.area_type in ('Indoor','Outdoor') 
	             and d.statistics_time &gt;= #{beginDate} and d.statistics_time &lt;= #{endDate}  
	</select>
	
	<select id="queryGridPeopleNumClusterNew" resultType="java.lang.Double">
		 <if test="numPercent != null">
		  select nvl(sum(ceil(d.IMEI_NUM/#{numPercent})),0) 
		       from LTE_GRID_USER_NUM_CLUSTER d 
		             where d.stadium_no=#{region} and d.area_type in ('Indoor','Outdoor') and d.statistics_time=#{dateStr} 
        </if> 
		<if test="numPercent == null">
			  select nvl(sum(ceil(d.IMEI_NUM/d.user_ratio)),0) 
		       from LTE_GRID_USER_NUM_CLUSTER d 
		             where d.stadium_no=#{region} and d.area_type in ('Indoor','Outdoor') and d.statistics_time=#{dateStr}  
        </if>
		
	</select>
	 
	
	
	
	
	<insert id="insertBatch">
	    insert into
	         HI_LTE_GRID_USER_NUM(statistics_time,area_type,stadium_no,gridx,gridy,longitude,latitude,imei_num,user_ratio,total_user_num,floor_no)
	    select statistics_time,area_type,stadium_no,gridx,gridy,longitude,latitude,imei_num,user_ratio,total_user_num,floor_no 
	         from LTE_GRID_USER_NUM where statistics_time &lt; #{beforeDate} 
	 </insert>
	
	<delete id="deleteBatch">
		delete from LTE_GRID_USER_NUM where statistics_time &lt; #{beforeDate}
	</delete> 
    
	 
</mapper>