<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.boot.security.server.dao.GridDataDao">

	<insert id="save" parameterType="GridData">
		insert into LTE_GRID_USER_NUM
		(SDATE,REGIONTYPE,REGION,GRIDX,GRIDY,LONGITUDE,LATITUDE,IMSI_NUM,RATIO,TOTALUSERS,RATIO_MR)
		values (#{sdate,jdbcType=VARCHAR},
		#{regiontype,jdbcType=VARCHAR},
		#{region,jdbcType=VARCHAR},
		#{gridx,jdbcType=DOUBLE},
		#{gridy,jdbcType=DOUBLE},
		#{longitude,jdbcType=DOUBLE},
		#{latitude,jdbcType=DOUBLE},
		#{imsi_num,jdbcType=DOUBLE},
		#{ratio,jdbcType=DOUBLE},
		#{totalusers,jdbcType=DOUBLE},
		#{ratio_mr,jdbcType=DOUBLE}
		)
	</insert>


	<select id="queryGridDataByRegion" resultType="java.util.Map">
		select m.NEWIDX as "x",m.NEWIDY as "y",d.total_user_num as "userCount"  
		   from LTE_GRID_USER_NUM d 
		    inner join GRIDMAPPER m
		      on d.GRIDX=m.GRIDX and d.GRIDY=m.GRIDY
		        where d.stadium_no=#{region,jdbcType=VARCHAR} and d.area_type='Indoor' and d.statistics_time=#{maxDate}   and  d.total_user_num > 0
	</select>
	
	<select id="queryGridDataByTimeRegion" resultType="java.util.Map">
		select m.NEWIDX as "x",m.NEWIDY as "y",d.total_user_num as "userCount"  
		   from LTE_GRID_USER_NUM d 
		    inner join GRIDMAPPER m
		      on d.GRIDX=m.GRIDX and d.GRIDY=m.GRIDY
		        where d.stadium_no=#{region} and d.area_type='Indoor' and d.statistics_time=#{dateStr}  and  d.total_user_num > 0
	</select>
	
	<select id="queryGridWarnData" resultType="java.util.Map">
		select m.NEWIDX as "x",m.NEWIDY as "y",d.total_user_num as "userCount",d.stadium_no as "region" ,d.statistics_time as "times" 
		   from LTE_GRID_USER_NUM d 
		    inner join GRIDMAPPER m
		      on d.GRIDX=m.GRIDX and d.GRIDY=m.GRIDY
		        where d.area_type='Indoor' and  d.total_user_num >= #{warnNum}
		          and d.statistics_time=#{maxDate} 
		            order by d.stadium_no desc
	</select>
	<!-- 
	<select id="queryGridDataByRegion" resultType="java.util.Map">
		select m.NEWIDX as "x",m.NEWIDY as "y",d.TOTALUSERS as "userCount",d.GRIDX as "gridx",d.GRIDY as "gridy"  
		   from GRIDDATA d 
		    inner join GRIDMAPPER m
		      on d.GRIDX=m.GRIDX and d.GRIDY=m.GRIDY
		        where d.REGION=#{region,jdbcType=VARCHAR} and d.REGIONTYPE='Indoor'
	</select>
	-->
	 
	<select id="querySingleGridData" resultType="java.util.Map">
		select d.stadium_no as "region",nvl(sum(d.total_user_num),0) as "userCount" from LTE_GRID_USER_NUM d where d.area_type='Indoor' group by d.stadium_no  
	</select> 
	 
	 
	 
	 
	 
	<select id="queryGridPeopleNumDataNew" resultType="int">
		select nvl(sum(d.total_user_num),0)  
		from LTE_GRID_USER_NUM d 
		where d.area_type='Indoor' 
		   and d.stadium_no=#{region} 
		   and d.statistics_time=#{maxDate} 
	</select> 
	
	<select id="queryMaxDate" resultType="string">
		select max(d.statistics_time) from LTE_GRID_USER_NUM d where  d.area_type='Indoor' 
	</select> 
	 
	 
</mapper>