<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.boot.security.server.dao.GridDataDao">

	<insert id="save" parameterType="GridData">
		insert into LTE_GRID_USER_NUM
		(SDATE,REGIONTYPE,REGION,GRIDX,GRIDY,LONGITUDE,LATITUDE,IMEI_NUM,USER_RATIO,TOTALUSERS)
		values (#{sdate,jdbcType=VARCHAR},
		#{regiontype,jdbcType=VARCHAR},
		#{region,jdbcType=VARCHAR},
		#{gridx,jdbcType=DOUBLE},
		#{gridy,jdbcType=DOUBLE},
		#{longitude,jdbcType=DOUBLE},
		#{latitude,jdbcType=DOUBLE},
		#{imsi_num,jdbcType=DOUBLE},
		#{ratio,jdbcType=DOUBLE},
		#{totalusers,jdbcType=DOUBLE}
		)
	</insert>

	
	
	
	
	<select id="queryGridDataByRegion" resultType="java.util.Map">
		<if test="numPercent != null">
			select m.NEWIDX as "x",m.NEWIDY as "y",ceil(d.IMEI_NUM/#{numPercent}) as "userCount",d.stadium_no as "region"
		       from LTE_GRID_USER_NUM d 
		         inner join GRIDMAPPER m
		           on d.GRIDX=m.GRIDX and d.GRIDY=m.GRIDY
		             where  d.area_type in ('Indoor','Outdoor') and d.statistics_time=#{maxDate} and ceil(d.IMEI_NUM/#{numPercent}) &gt; 0
		               and d.stadium_no in
					        <foreach collection="regionArr" item="region" index="index"
					            open="(" close=")" separator=",">
					            #{region}
					        </foreach>
        </if>
		<if test="numPercent == null">
			select m.NEWIDX as "x",m.NEWIDY as "y",ceil(d.IMEI_NUM/d.USER_RATIO) as "userCount",d.stadium_no as "region"
		       from LTE_GRID_USER_NUM d 
		         inner join GRIDMAPPER m
		           on d.GRIDX=m.GRIDX and d.GRIDY=m.GRIDY
		             where  d.area_type in ('Indoor','Outdoor') and d.statistics_time=#{maxDate} and ceil(d.IMEI_NUM/d.USER_RATIO) &gt; 0
        			   and  d.stadium_no in
					        <foreach collection="regionArr" item="region" index="index"
					            open="(" close=")" separator=",">
					            #{region}
					        </foreach>
        </if> 
		
	</select>
	
	
	
	
	<select id="queryDateForMinuteNew" resultType="java.util.Map">
		 <if test="numPercent != null">
		 	select 
			d.statistics_time as "date"
			,nvl(ceil(d.IMEI_NUM/#{numPercent}),0)  as "total"
			from LTE_GRID_USER_NUM d 
			where 1=1
			and d.area_type in ('Indoor','Outdoor')  
			and d.stadium_no=#{region} 
			and d.statistics_time &gt;=#{beginDate} and d.statistics_time &lt;=#{endDate}
			order by d.statistics_time asc
        </if> 
        <if test="numPercent == null">
        	select 
			d.statistics_time as "date"
			,nvl(ceil(d.IMEI_NUM/d.user_ratio),0)  as "total"
			from LTE_GRID_USER_NUM d 
			where 1=1
			and d.area_type in ('Indoor','Outdoor')  
			and d.stadium_no=#{region} 
			and d.statistics_time &gt;=#{beginDate} and d.statistics_time &lt;=#{endDate}
			order by d.statistics_time asc
        </if>
		
	</select>
	
	<select id="queryDateForMinuteIndoor" resultType="java.util.Map">
		 <if test="numPercent != null">
		 	select 
			d.statistics_time as "date"
			,nvl(sum(ceil(d.IMEI_NUM/#{numPercent})),0)  as "total"
			from LTE_GRID_USER_NUM d 
			where 1=1
			and d.area_type = 'Indoor'  
			and d.statistics_time &gt;=#{beginDate} and d.statistics_time &lt;=#{endDate}
			group by d.statistics_time 
			order by d.statistics_time asc
        </if> 
        
        <if test="numPercent == null">
        	select 
			d.statistics_time as "date"
			,nvl(sum(ceil(d.IMEI_NUM/d.user_ratio)),0)  as "total"
			from LTE_GRID_USER_NUM d 
			where 1=1
			and d.area_type = 'Indoor' 
			and d.statistics_time &gt;=#{beginDate} and d.statistics_time &lt;=#{endDate}
			group by d.statistics_time 
			order by d.statistics_time asc
        </if>
		
	</select>
	
	
	
	<select id="queryGridNumBetData" resultType="java.util.Map">
		<if test="numPercent != null">
			select 
			    d.stadium_no as "region"
			    ,d.statistics_time as "date"
			    ,nvl(sum(ceil(d.IMEI_NUM/#{numPercent})),0)  as "userCount"
		    from LTE_GRID_USER_NUM d 
		    inner join GRIDMAPPER m on d.GRIDX=m.GRIDX and d.GRIDY=m.GRIDY
		    where  
               d.area_type in ('Indoor','Outdoor') 
               and d.statistics_time between #{beginDate}  and  #{endDate}
      		   and  d.stadium_no in
			        <foreach collection="regionArr" item="region" index="index"
			            open="(" close=")" separator=",">
			            #{region}
			        </foreach>
			   and ceil(d.IMEI_NUM/d.USER_RATIO) &gt; 0
			group by d.stadium_no,d.statistics_time
        </if>
        
		<if test="numPercent == null">
			
			select 
			    d.stadium_no as "region" 
			     ,d.statistics_time as "date"
			      ,nvl(sum(ceil(d.IMEI_NUM/d.USER_RATIO)),0) as "userCount"
			       from LTE_GRID_USER_NUM d inner join GRIDMAPPER m on d.GRIDX=m.GRIDX and d.GRIDY=m.GRIDY 
			       where d.area_type in ('Indoor','Outdoor') 
			             and d.statistics_time between #{beginDate}  and  #{endDate}
			             and d.stadium_no in 
			             	<foreach collection="regionArr" item="region" index="index"
					            open="(" close=")" separator=",">
					            #{region}
					        </foreach>
			             and ceil(d.IMEI_NUM/d.USER_RATIO) &gt; 0 
			group by d.stadium_no,d.statistics_time
			
        </if> 
		
	</select>
	
	<select id="queryGridDataByTimeRegion" resultType="CommonModel">
		<if test="numPercent != null">
			select m.NEWIDX as "x",m.NEWIDY as "y",ceil(d.IMEI_NUM/#{numPercent}) as "userCount",d.stadium_no as "region"
		       from LTE_GRID_USER_NUM d 
		         inner join GRIDMAPPER m
		           on d.GRIDX=m.GRIDX and d.GRIDY=m.GRIDY
		             where d.stadium_no=#{region} and d.area_type in ('Indoor','Outdoor') and d.statistics_time=#{dateStr} and ceil(d.IMEI_NUM/#{numPercent}) >0
        </if>
		<if test="numPercent == null">
			select m.NEWIDX as "x",m.NEWIDY as "y",ceil(d.IMEI_NUM/d.USER_RATIO) as "userCount",d.stadium_no as "region"
		       from LTE_GRID_USER_NUM d 
		         inner join GRIDMAPPER m
		           on d.GRIDX=m.GRIDX and d.GRIDY=m.GRIDY
		             where d.stadium_no=#{region} and d.area_type in ('Indoor','Outdoor') and d.statistics_time=#{dateStr} and ceil(d.IMEI_NUM/d.USER_RATIO) >0
        </if> 
	</select>
	
	<select id="queryGridDataByTimeRegionNew" resultType="java.util.Map">
		<if test="numPercent != null">
			select m.NEWIDX as "x",m.NEWIDY as "y",ceil(d.IMEI_NUM/#{numPercent}) as "userCount",d.stadium_no as "region",d.statistics_time as "date"
		       from LTE_GRID_USER_NUM d 
		         inner join GRIDMAPPER m
		           on d.GRIDX=m.GRIDX and d.GRIDY=m.GRIDY
		             where d.stadium_no=#{region} 
		             and d.area_type in ('Indoor','Outdoor') 
		             and d.statistics_time  between  #{minDate}  and  #{maxDate}
		             and ceil(d.IMEI_NUM/#{numPercent}) >0
        </if>
		<if test="numPercent == null">
			select m.NEWIDX as "x",m.NEWIDY as "y",ceil(d.IMEI_NUM/d.USER_RATIO) as "userCount",d.stadium_no as "region",d.statistics_time as "date"
		       from LTE_GRID_USER_NUM d 
		         inner join GRIDMAPPER m
		           on d.GRIDX=m.GRIDX and d.GRIDY=m.GRIDY
		             where d.stadium_no=#{region} 
		             and d.area_type in ('Indoor','Outdoor') 
		             and d.statistics_time   between  #{minDate}  and  #{maxDate}
		             and ceil(d.IMEI_NUM/d.USER_RATIO) >0
        </if> 
	</select>
	
	
	
	
	<select id="queryGridDataByTimeRegionAll" resultType="CommonModel">
		<if test="numPercent != null">
			select m.NEWIDX as "x",m.NEWIDY as "y",ceil(d.IMEI_NUM/#{numPercent}) as "userCount",d.stadium_no as "region"
		       from LTE_GRID_USER_NUM d 
		         inner join GRIDMAPPER m
		           on d.GRIDX=m.GRIDX and d.GRIDY=m.GRIDY
		             where d.stadium_no is not null and d.area_type =#{region} and d.statistics_time=#{dateStr} and ceil(d.IMEI_NUM/#{numPercent}) >0
        </if>
		<if test="numPercent == null">
			select m.NEWIDX as "x",m.NEWIDY as "y",ceil(d.IMEI_NUM/d.USER_RATIO) as "userCount",d.stadium_no as "region"
		       from LTE_GRID_USER_NUM d 
		         inner join GRIDMAPPER m
		           on d.GRIDX=m.GRIDX and d.GRIDY=m.GRIDY
		             where d.stadium_no is not null and d.area_type  =#{region} and d.statistics_time=#{dateStr} and ceil(d.IMEI_NUM/d.USER_RATIO) >0
        </if> 
		
	</select>
	<select id="queryHiGridDataByTimeRegion" resultType="CommonModel">
		<if test="numPercent != null">
			select m.NEWIDX as "x",m.NEWIDY as "y",ceil(d.IMEI_NUM/#{numPercent}) as "userCount",d.stadium_no as "region"
		       from HI_LTE_GRID_USER_NUM d 
		         inner join GRIDMAPPER m
		           on d.GRIDX=m.GRIDX and d.GRIDY=m.GRIDY
		             where d.stadium_no=#{region} and d.area_type in ('Indoor','Outdoor') and d.statistics_time=#{dateStr} and ceil(d.IMEI_NUM/#{numPercent}) >0
        </if>
		<if test="numPercent == null">
			select m.NEWIDX as "x",m.NEWIDY as "y",ceil(d.IMEI_NUM/d.USER_RATIO) as "userCount",d.stadium_no as "region"
		       from HI_LTE_GRID_USER_NUM d 
		         inner join GRIDMAPPER m
		           on d.GRIDX=m.GRIDX and d.GRIDY=m.GRIDY
		             where d.stadium_no=#{region} and d.area_type in ('Indoor','Outdoor') and d.statistics_time=#{dateStr} and ceil(d.IMEI_NUM/d.USER_RATIO) >0
        </if> 
		
	</select>
	<select id="queryHiGridDataByTimeRegionAll" resultType="CommonModel">
		<if test="numPercent != null">
			select m.NEWIDX as "x",m.NEWIDY as "y",ceil(d.IMEI_NUM/#{numPercent}) as "userCount",d.stadium_no as "region"
		       from HI_LTE_GRID_USER_NUM d 
		         inner join GRIDMAPPER m
		           on d.GRIDX=m.GRIDX and d.GRIDY=m.GRIDY
		             where d.stadium_no is not null and d.area_type =#{region} and d.statistics_time=#{dateStr} and ceil(d.IMEI_NUM/#{numPercent}) >0
        </if>
		<if test="numPercent == null">
			select m.NEWIDX as "x",m.NEWIDY as "y",ceil(d.IMEI_NUM/d.USER_RATIO) as "userCount",d.stadium_no as "region"
		       from HI_LTE_GRID_USER_NUM d 
		         inner join GRIDMAPPER m
		           on d.GRIDX=m.GRIDX and d.GRIDY=m.GRIDY
		             where d.stadium_no is not null and d.area_type  =#{region} and d.statistics_time=#{dateStr} and ceil(d.IMEI_NUM/d.USER_RATIO) >0
        </if> 
		
	</select>
	
	<select id="queryGridPeopleNum" resultType="java.lang.Double">
		 <if test="numPercent != null">
		  select nvl(sum(ceil(d.IMEI_NUM/#{numPercent})),0) 
		       from LTE_GRID_USER_NUM d 
		         inner join GRIDMAPPER m
		           on d.GRIDX=m.GRIDX and d.GRIDY=m.GRIDY
		             where d.stadium_no=#{region} and d.area_type in ('Indoor','Outdoor') and d.statistics_time=#{dateStr} 
        </if> 
		<if test="numPercent == null">
			
			select nvl(sum(ceil(d.IMEI_NUM/d.USER_RATIO)),0)  
		       from LTE_GRID_USER_NUM d 
		         inner join GRIDMAPPER m
		           on d.GRIDX=m.GRIDX and d.GRIDY=m.GRIDY
		             where d.stadium_no=#{region} and d.area_type in ('Indoor','Outdoor') and d.statistics_time=#{dateStr} 
        </if>
		
	</select>
	
	
	<select id="queryGridPeopleNumquick" resultType="java.util.Map">
		 <if test="numPercent != null">
		 
		 select 
			d.stadium_no as "region"
			,d.statistics_time as "times"
			,nvl(sum(ceil(d.IMEI_NUM/#{numPercent})),0)  as "num"
			from LTE_GRID_USER_NUM d 
			inner join GRIDMAPPER m on d.GRIDX=m.GRIDX and d.GRIDY=m.GRIDY
			where d.stadium_no in
			
			 <foreach collection="regionArr" item="region" index="index"
	            open="(" close=")" separator=",">
	            #{region}
	        </foreach>
			
			and d.area_type in ('Indoor','Outdoor') 
			and d.statistics_time=#{maxDate}
			group by d.stadium_no,d.statistics_time

        </if> 
        
		<if test="numPercent == null">
			select 
			d.stadium_no as "region"
			,d.statistics_time as "times"
			,nvl(sum(ceil(d.IMEI_NUM/d.USER_RATIO)),0)  as "num"
			from LTE_GRID_USER_NUM d 
			inner join GRIDMAPPER m on d.GRIDX=m.GRIDX and d.GRIDY=m.GRIDY
			where d.stadium_no in
			
			 <foreach collection="regionArr" item="region" index="index"
	            open="(" close=")" separator=",">
	            #{region}
	        </foreach>
			
			and d.area_type in ('Indoor','Outdoor') 
			and d.statistics_time=#{maxDate}
			group by d.stadium_no,d.statistics_time
			
        </if>
		
	</select>
	
	
	<select id="queryGridPeopleNumAll" resultType="java.lang.Double">
		 <if test="numPercent != null">
		  select nvl(sum(ceil(d.IMEI_NUM/#{numPercent})),0) 
		       from LTE_GRID_USER_NUM d 
		         inner join GRIDMAPPER m
		           on d.GRIDX=m.GRIDX and d.GRIDY=m.GRIDY
		             where d.stadium_no is not null and d.area_type  =#{region} and d.statistics_time=#{dateStr} 
        </if> 
		<if test="numPercent == null">
			select nvl(sum(ceil(d.IMEI_NUM/d.USER_RATIO)),0)  
		       from LTE_GRID_USER_NUM d 
		         inner join GRIDMAPPER m
		           on d.GRIDX=m.GRIDX and d.GRIDY=m.GRIDY
		             where d.stadium_no is not null and d.area_type =#{region} and d.statistics_time=#{dateStr} 
        </if>
		
	</select>
	
	
	<select id="queryHiGridPeopleNum" resultType="java.lang.Double">
		 <if test="numPercent != null">
		  select nvl(sum(ceil(d.IMEI_NUM/#{numPercent})),0) 
		       from HI_LTE_GRID_USER_NUM d 
		         inner join GRIDMAPPER m
		           on d.GRIDX=m.GRIDX and d.GRIDY=m.GRIDY
		             where d.stadium_no=#{region} and d.area_type in ('Indoor','Outdoor') and d.statistics_time=#{dateStr} 
        </if> 
		<if test="numPercent == null">
			select nvl(sum(ceil(d.IMEI_NUM/d.USER_RATIO)),0)  
		       from HI_LTE_GRID_USER_NUM d 
		         inner join GRIDMAPPER m
		           on d.GRIDX=m.GRIDX and d.GRIDY=m.GRIDY
		             where d.stadium_no=#{region} and d.area_type in ('Indoor','Outdoor') and d.statistics_time=#{dateStr} 
        </if>
		
	</select>
	<select id="queryHiGridPeopleNumAll" resultType="java.lang.Double">
		 <if test="numPercent != null">
		  select nvl(sum(ceil(d.IMEI_NUM/#{numPercent})),0) 
		       from HI_LTE_GRID_USER_NUM d 
		         inner join GRIDMAPPER m
		           on d.GRIDX=m.GRIDX and d.GRIDY=m.GRIDY
		             where d.stadium_no is not null and d.area_type =#{region} and d.statistics_time=#{dateStr} 
        </if> 
		<if test="numPercent == null">
			select nvl(sum(ceil(d.IMEI_NUM/d.USER_RATIO)),0)  
		       from HI_LTE_GRID_USER_NUM d 
		         inner join GRIDMAPPER m
		           on d.GRIDX=m.GRIDX and d.GRIDY=m.GRIDY
		             where d.stadium_no is not null and d.area_type =#{region} and d.statistics_time=#{dateStr} 
        </if>
		
	</select>
	
	<select id="queryHiDates" resultType="java.lang.String">
		
		 select distinct(d.statistics_time) from HI_LTE_GRID_USER_NUM d
		  where d.stadium_no=#{region} and d.area_type in ('Indoor','Outdoor') 
		     and   d.statistics_time &gt;=#{beginDate} and d.statistics_time &lt;=#{endDate}
		
	</select>
	
	<select id="queryGridPeopleNumCluster" resultType="java.lang.Double">
		 <if test="numPercent != null">
		  select nvl(sum(ceil(d.IMEI_NUM/#{numPercent})),0) 
		       from LTE_GRID_USER_NUM_CLUSTER d 
		             where d.stadium_no=#{region} and d.area_type in ('Indoor','Outdoor') and d.statistics_time=#{dateStr} 
        </if> 
		<if test="numPercent == null">
			  select nvl(sum(ceil(d.IMEI_NUM/d.user_ratio)),0) 
		       from LTE_GRID_USER_NUM_CLUSTER d 
		             where d.stadium_no=#{region} and d.area_type in ('Indoor','Outdoor') and d.statistics_time=#{dateStr}  
        </if>
		
	</select>
	
	
	<select id="queryGridWarnData" resultType="java.util.Map">
        
        
		<if test="numPercent != null">       
		select  m.NEWIDX as "x",m.NEWIDY as "y",ceil(f.IMEI_NUM/#{numPercent}) as "userCount",f.stadium_no as "region" ,f.statistics_time as "times" 
		from (
			
			select * 
			from LTE_GRID_USER_NUM d  
			where 
			d.area_type in ('Indoor','Outdoor') 
			and d.statistics_time=#{maxDate} 
			and (
			(
			d.statistics_time >'28881014113500'
			) 
			<if test="flag1 != null and flag1 !=-1">
			or
			(
			d.stadium_no='ZGG_B1' 
			and ceil(d.IMEI_NUM/#{numPercent}) &gt;= #{flag1}
			)
			</if>
			<if test="flag2 != null and flag2 !=-1">
			or
			(
			d.stadium_no='ZGG_1F' 
			and ceil(d.IMEI_NUM/#{numPercent}) &gt;= #{flag2}
			)
			</if>
			<if test="flag3 != null and flag3 !=-1">
			or
			(
			d.stadium_no='ZGG_2F' 
			and ceil(d.IMEI_NUM/#{numPercent}) &gt;= #{flag3}
			)
			</if>
			)
		) f inner join GRIDMAPPER m
		    on f.GRIDX=m.GRIDX and f.GRIDY=m.GRIDY 
		
		order  by f.stadium_no
		</if>
        
		<if test="numPercent == null">       
		select  m.NEWIDX as "x",m.NEWIDY as "y",ceil(f.IMEI_NUM/f.USER_RATIO) as "userCount",f.stadium_no as "region" ,f.statistics_time as "times" 
		from (
			
			select * 
			from LTE_GRID_USER_NUM d  
			where 
			d.area_type in ('Indoor','Outdoor') 
			and d.statistics_time=#{maxDate} 
			and (
			(
			d.statistics_time >'28881014113500'
			) 
			<if test="flag1 != null and flag1 !=-1">
			or
			(
			d.stadium_no='ZGG_B1' 
			and ceil(d.IMEI_NUM/d.user_ratio) &gt;= #{flag1}
			)
			</if>
			<if test="flag2 != null and flag2 !=-1">
			or
			(
			d.stadium_no='ZGG_1F' 
			and ceil(d.IMEI_NUM/d.user_ratio) &gt;= #{flag2}
			)
			</if>
			<if test="flag3 != null and flag3 !=-1">
			or
			(
			d.stadium_no='ZGG_2F' 
			and ceil(d.IMEI_NUM/d.user_ratio) &gt;= #{flag3}
			)
			</if>
			)
		) f inner join GRIDMAPPER m
		    on f.GRIDX=m.GRIDX and f.GRIDY=m.GRIDY 
		
		order  by f.stadium_no
		</if>
	</select>
	
	 
	<select id="querySingleGridData" resultType="java.util.Map">
		select d.stadium_no as "region",nvl(sum(d.total_user_num),0) as "userCount" from LTE_GRID_USER_NUM d where d.area_type in ('Indoor','Outdoor') group by d.stadium_no  
	</select> 
	 
	<select id="updateDate" >
		update TEST_ZWC t set t.statistics_time=#{nowDate},t.imei_num=ceil(DBMS_RANDOM.value(6,43))
	</select> 
	
	 
	 
	 
	<select id="queryGridPeopleNumDataNew" resultType="CommonModel">
		select d.IMEI_NUM as "imsi" ,d.USER_RATIO as "radio"
		from LTE_GRID_USER_NUM d 
		where d.area_type in ('Indoor','Outdoor') 
		   and d.stadium_no=#{region} 
		   and d.statistics_time=#{maxDate} 
	</select> 
	
	<select id="queryMaxDate" resultType="string">
		select max(d.statistics_time) from LTE_GRID_USER_NUM d where  d.area_type in ('Indoor','Outdoor') 
	</select> 
	
	 <!-- 0918修改 -->
	<select id="queryBeforeDate" resultType="string">
		select to_char(to_date((select max(statistics_time) from LTE_GRID_USER_NUM),'yyyyMMddHH24miss')-numtodsinterval(4,'hour'),'yyyyMMddHH24miss')
		from dual
	</select> 
	<select id="queryMinDate" resultType="string">
		select min(d.statistics_time) from LTE_GRID_USER_NUM d where  d.area_type in ('Indoor','Outdoor')
	</select> 
	<insert id="insertNewData">
		insert into 
		LTE_GRID_USER_NUM(statistics_time,area_type,stadium_no,gridx,gridy,longitude,latitude,imei_num,user_ratio,total_user_num,floor_no) 
		select      statistics_time,area_type,stadium_no,gridx,gridy,longitude,latitude,imei_num,user_ratio,total_user_num,floor_no 
		from Test_zwc where statistics_time = #{beforeDate}
	</insert> 
	
	<select id="findDatesStr" resultType="java.lang.String">
		  select distinct d.statistics_time
	       from LTE_GRID_USER_NUM_CLUSTER d 
	             where d.stadium_no=#{region} 
	             and d.area_type in ('Indoor','Outdoor') 
	             and d.statistics_time &gt;= #{beginDate} and d.statistics_time &lt;= #{endDate}  
	</select>
	
	<select id="testQueryDbTime" resultType="java.lang.String">
	      select *  from (
		  	select distinct d.statistics_time  from LTE_GRID_USER_NUM d  order by d.statistics_time  desc 
		  	)
		  where ROWNUM &lt;=10
	</select>
	
	
	
	<select id="queryGridPeopleNumClusterNew" resultType="java.lang.Double">
		 <if test="numPercent != null">
		  select nvl(sum(ceil(d.IMEI_NUM/#{numPercent})),0) 
		       from LTE_GRID_USER_NUM_CLUSTER d 
		             where d.stadium_no=#{region} and d.area_type in ('Indoor','Outdoor') and d.statistics_time=#{dateStr} 
        </if> 
		<if test="numPercent == null">
			  select nvl(sum(ceil(d.IMEI_NUM/d.user_ratio)),0) 
		       from LTE_GRID_USER_NUM_CLUSTER d 
		             where d.stadium_no=#{region} and d.area_type in ('Indoor','Outdoor') and d.statistics_time=#{dateStr}  
        </if>
		
	</select>
	 
	
	
	
	
	<insert id="insertBatch">
	    insert into
	         HI_LTE_GRID_USER_NUM(statistics_time,area_type,stadium_no,gridx,gridy,longitude,latitude,imei_num,user_ratio,total_user_num,floor_no)
	    select statistics_time,area_type,stadium_no,gridx,gridy,longitude,latitude,imei_num,user_ratio,total_user_num,floor_no 
	         from LTE_GRID_USER_NUM where statistics_time &lt; #{beforeDate} 
	 </insert>
	
	<delete id="deleteBatch">
		delete from LTE_GRID_USER_NUM where statistics_time &lt; #{beforeDate}
	</delete> 
    
	 
</mapper>