<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.boot.security.server.dao.GridMapperDao">
	
	
	<insert id="changeData" >
        update GRIDMAPPER 
               set GRIDX=#{indexx,jdbcType=DOUBLE},GRIDY= #{indexy,jdbcType=DOUBLE}
               where ID=#{id,jdbcType=VARCHAR}
    </insert>
    
	<select id="findIdList" resultType="java.lang.String">
		select id from GRIDMAPPER 
	</select>
	
	<select id="find" resultType="GridMapper">
		select * from GRIDMAPPER  order by ENTITYHANd asc
	</select>
	
	<select id="findTest" resultType="GridMapper">
		select  id,
		to_number(substr(id,0,instr(id,'_',-1,1)-1))-1  as gridx,
		substr(id,instr(id,'_',-1,1)+1)  as gridy,
		hand as entityHand
		from testm
		order by hand asc
	</select>
	
	
</mapper>