<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.boot.security.server.dao.HiGridDataHourDao">

	
	<select id="queryPeopleNumByTimeRangeNew" resultType="java.lang.Integer">
		select d.IMSI_CUM  from LTE_REGION_NUM_HOUR d 
		where d.REGIONTYPE='Indoor' 
		      and  d.REGION=#{region}
		      and  to_date(d.Sdate,'yyyymmddhh24miss') in
		      <foreach collection="list" item="item" index="index" open="(" close=")" separator=",">
	            to_date(#{item},'yyyy-mm-dd hh24:mi:ss')
	        </foreach>
	        order by to_date(d.Sdate,'yyyymmddhh24miss') asc
	</select> 
	<select id="queryPeopleNumByTimeRange" resultType="java.lang.Integer">
		select nvl(sum(d.IMSI_CUM),0)  from LTE_REGION_NUM_HOUR d where d.REGIONTYPE='Indoor' and to_date(d.Sdate,'yyyymmddhh24miss')=to_date(#{dateStr},'yyyy-mm-dd hh24:mi:ss') and d.REGION=#{region}
	</select> 
	<select id="queryCount" resultType="long">
		select count(1)  from LTE_REGION_NUM_HOUR 
	</select> 
	<select id="queryHiGridDataHourLatest" resultType="HiGridDataHour">
		select * from (
		   select 
		   		  d.IMSI_MALE as "imsiMale"
		   		  ,d.sdate as "sdate"
		          ,d.IMSI_FEMALE as "imsiFeMale"
		          ,d.IMSI_AGE1 as "imsiAge1"
		          ,d.IMSI_AGE2 as "imsiAge2"
		          ,d.IMSI_AGE3 as "imsiAge3"
		          ,d.IMSI_AGE4 as "imsiAge4"
		          ,d.IMSI_AGE5 as "imsiAge5"
		          ,d.IMSI_SOURCE1 as "imsiSource1"
		          ,d.IMSI_SOURCE2 as "imsiSource2"
		          
<!-- 		          ,rownum as rn  from LTE_REGION_NUM_HOUR d where d.REGIONTYPE='Indoor'  and d.REGION=#{region} and d.sdate=#{maxDate}  -->
		          ,rownum as rn  from LTE_REGION_NUM_HOUR d where d.REGIONTYPE='Indoor'  and d.REGION=#{region} order by d.sdate desc 
		) 
		where rn=1
	</select> 
	
	
	<select id="queryMaxDate" resultType="string">
		select max(d.statistics_time) from LTE_GRID_USER_NUM d where  d.area_type='Indoor' 
	</select> 
</mapper>