<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.boot.security.server.dao.HiGridDataHourDao">

	
	<select id="queryPeopleNumByTimeRangeNew" resultType="java.lang.Integer">
		select d.IMSI_CUM  from LTE_REGION_NUM_HOUR d 
		where d.REGIONTYPE='Indoor' 
		      and  d.REGION=#{region}
		      and  to_date(d.Sdate,'yyyy-mm-dd hh24:mi') in
		      <foreach collection="list" item="item" index="index" open="(" close=")" separator=",">
	            to_date(#{item},'yyyy-mm-dd hh24:mi')
	        </foreach>
	        order by to_date(d.Sdate,'yyyy-mm-dd hh24:mi') asc
	</select> 
	<select id="queryPeopleNumByTimeRange" resultType="java.lang.Integer">
		select nvl(sum(d.IMSI_CUM),0)  from LTE_REGION_NUM_HOUR d where d.REGIONTYPE='Indoor' and to_date(d.Sdate,'yyyy-mm-dd hh24:mi')=to_date(#{dateStr},'yyyy-mm-dd hh24:mi') and d.REGION=#{region}
	</select> 
	<select id="queryCount" resultType="long">
		select count(1)  from LTE_REGION_NUM_HOUR 
	</select> 
	<select id="queryHiGridDataHourLatest" resultType="HiGridDataHour">
		select * from (
		   select d.IMSI_MALE as "imsiMale"
		          ,d.IMSI_FEMALE as "imsiFeMale"
		          ,d.IMSI_AGE1 as "imsiAge1"
		          ,d.IMSI_AGE2 as "imsiAge2"
		          ,d.IMSI_AGE3 as "imsiAge3"
		          ,d.IMSI_AGE4 as "imsiAge4"
		          ,d.IMSI_AGE5 as "imsiAge5"
		          ,d.IMSI_AGE6 as "imsiAge6"
		          ,d.IMSI_AGE7 as "imsiAge7"
		          ,d.IMSI_AGE8 as "imsiAge8"
		          ,d.IMSI_SOURCE1 as "imsiSource1"
		          ,d.IMSI_SOURCE2 as "imsiSource2"
		          ,rownum as rn  from LTE_REGION_NUM_HOUR d where d.REGIONTYPE='Indoor'  and d.REGION=#{region} order by  d.Sdate desc 
		) 
		where rn=1
	</select> 
</mapper>